
<!-- Footer -->
<footer class="py-6 px-4 bg-deep-space border-t border-crt-green">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center">
        <p class=" font-doto text-xs text-crt-green mb-4 md:mb-0">Game on, no matter the age!</p>
        <a href="https://d-v.es" class="text-xs text-crt-green">
            @dvillodres<span class="animate-blink">_</span>
        </a>
    </div>
</footer>
