---
import Layout from '../layouts/Layout.astro';
import {SignedIn, SignedOut, SignInButton} from "@clerk/astro/components";
const baseURL = import.meta.env.PUBLIC_SITE_URL || 'http://localhost:4321';

const resTop = await fetch(`${baseURL}/api/get-users`);
const rankingTop = await resTop.json()
const resPot = await fetch(`${baseURL}/api/get-users?sort=losses`);
const rankingPot = await resPot.json()
---

<Layout>
    <main class="max-w-6xl mx-auto px-6 pb-16 font-retro space-y-16">

        <section class="text-center  bg-gradient-to-b h-[300px] from-nebula-black via-emerald-950 to-nebula-black py-20">
            <h1 class="text-2xl md:text-4xl font-retro text-crt-green mb-6">Ranking</h1>
            <p class="text-white/70 font-doto text-sm md:text-xl max-w-3xl mx-auto mb-10 z-10">
                Top 10 jugadores con más victorias y derrotas.
            </p>
            <div class="flex flex-col sm:flex-row justify-center gap-6">
                <SignedOut>
                    <SignInButton mode="modal" class="cursor-pointer px-6 py-3 bg-crt-green text-black text-lg font-bold border border-crt-green hover:bg-transparent hover:text-crt-green transition">
                        🚀 Jugar
                    </SignInButton>

                    <a href="/demo" class="px-6 py-3 bg-nebula-black text-crt-green border border-crt-green text-lg font-bold hover:bg-crt-green hover:text-black transition">
                        🧪 Probar Demo
                    </a>
                </SignedOut>
                <SignedIn>
                    <a href="/juego" class="px-6 py-3 bg-crt-green text-black text-lg font-bold border border-crt-green hover:bg-transparent hover:text-crt-green transition">
                        🚀 Jugar
                    </a>
                </SignedIn>
            </div>
        </section>

        <section class="mx-auto w-full bg-cover bg-fixed bg-center bg-no-repeat shadow-lg gap-4 flex items-center">
            <div class="w-full md:w-1/2 h-[300px]">
                <img src="/assets/img/top-victorias.webp">
            </div>
            <div style={`background-image:url('/assets/img/race.webp')`} class=" w-full md:w-1/2">
                <div class="bg-emerald-950/70 h-[300px] overflow-y-scroll backdrop-blur-xs w-full flex justify-center items-center p-10  gap-4">
                    <table class="w-3/4 text-left border-collapse  mt-10 font-doto text-white/90">
                        <thead>
                        <tr class="border-b border-crt-green/40 text-sm text-crt-green uppercase">
                            <th class="py-2">#</th>
                            <th class="py-2">Comandante</th>
                            <th class="py-2 text-center">Victorias</th>
                            <th class="py-2 text-center">Derrotas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {rankingTop.map((user, i) => (
                                <tr class="border-b border-white/10 hover:bg-white/5 transition">
                                    <td class="py-2 px-2">{i + 1}</td>
                                    <td class="py-2 px-2">{user.username}</td>
                                    <td class="py-2 px-2 text-center text-crt-green">{user.wins ?? 0}</td>
                                    <td class="py-2 px-2 text-center text-red-400">{user.losses ?? 0}</td>
                                </tr>
                        ))}
                        </tbody>
                    </table>
                </div>

            </div>
        </section>

        <section class="mx-auto w-full bg-cover bg-fixed bg-center bg-no-repeat shadow-lg gap-4 flex items-center">
            <div class="w-full md:w-1/2 h-[300px]">
                <img src="/assets/img/top-derrotas.webp">
            </div>
            <div style={`background-image:url('/assets/img/race.webp')`} class=" w-full md:w-1/2">
                <div class="bg-red-950/70 h-[300px] overflow-y-scroll backdrop-blur-xs w-full flex justify-center items-center p-10  gap-4">
                    <table class="w-3/4 text-left border-collapse mt-10 font-doto text-white/90">
                        <thead>
                        <tr class="border-b border-crt-green/40 text-sm text-crt-green uppercase">
                            <th class="py-2">#</th>
                            <th class="py-2">Comandante</th>
                            <th class="py-2 text-center">Victorias</th>
                            <th class="py-2 text-center">Derrotas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {rankingPot.map((user, i) => (
                                <tr class="border-b border-white/10 hover:bg-white/5 transition">
                                    <td class="py-2 px-2">{i + 1}</td>
                                    <td class="py-2 px-2">{user.username}</td>
                                    <td class="py-2 px-2 text-center text-crt-green">{user.wins ?? 0}</td>
                                    <td class="py-2 px-2 text-center text-red-400">{user.losses ?? 0}</td>
                                </tr>
                        ))}
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
        <div class="text-center pb-10">
            <a
                    href="/"
                    class="px-4 py-2 border border-crt-green text-crt-green font-doto hover:bg-crt-green hover:text-black transition"
            >
                ← Volver al inicio
            </a>
        </div>
    </main>
</Layout>
