---
import {UserButton} from "@clerk/astro/components";
---
<div class="fixed top-0 left-0 z-50 font-doto p-2 w-full flex flex-col md:flex-row justify-between items-center bg-emerald-950">
    <div class="flex gap-2 items-center">
        <a href="/"><img alt="Logo Starship Chronicles" class="w-8 h-8" src="/assets/img/logo.webp"></a>

        <a href="/">Starship Chronicles</a>
    </div>
    <div class="flex items-center gap-4">

        <a href="/">Inicio</a>
        <a href="/tutorial">Tutorial</a>
        <a href="/ranking">Ranking</a>
        <a class="text-crt-green/80 px-4 py-0.5  border-1 border-crt-green/30 border-dashed  bg-nebula-black/50 hover:border-crt-green hover:text-crt-green  rounded-lg" href="/juego">Jugar</a>
        <UserButton />
    </div>
</div>
