---
import '../styles/global.css'
import {UserButton} from "@clerk/astro/components";
import Header from "../components/commons/Header.astro";
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Starship Chronicles | Embark on an Interstellar Odyssey</title>
	</head>

	<body class="bg-nebula-black text-white dark overflow-x-hidden relative">

		<Header/>
		<div class="starfield absolute font-retro inset-0 z-0">
			<div class=" absolute inset-0 z-0">
				<video class="object-cover object-center w-full h-full opacity-60 blur-xs" autoplay muted loop>
					<source src="assets/videos/starfield.mp4" type="video/mp4">
					Tu navegador no soporta el video.
				</video>
			</div>
		</div>

		<div class="relative font-retro z-10 mt-10">
			<slot/>
		</div>
	</body>
</html>
