---
import '../styles/global.css'
import {UserButton} from "@clerk/astro/components";
import Header from "../components/commons/Header.astro";
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<title>Starship Chronicles | Juego</title>

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Starship Chronicles | Embárcate en una Odisea Interestelar" />
		<meta property="og:description" content="Únete a una odisea intergaláctica con Starship Chronicles. Descubre mundos, enfrenta desafíos y explora lo desconocido." />
		<meta property="og:image" content="/assets/img/starshipchronicles.jpg" />
		<meta property="og:url" content="https://tusitio.com" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />

		<!-- Twitter Meta Tags (opcional) -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Starship Chronicles | Embárcate en una Odisea Interestelar" />
		<meta name="twitter:description" content="Únete a una odisea intergaláctica con Starship Chronicles. Descubre mundos, enfrenta desafíos y explora lo desconocido." />
		<meta name="twitter:image" content="/assets/img/starshipchronicles.jpg" /></head>
	</head>

	<body class="bg-nebula-black text-white dark overflow-x-hidden relative">

		<Header/>
		<div class="starfield absolute font-retro inset-0 z-0">
			<div class=" absolute inset-0 z-0">
				<video class="object-cover object-center w-full h-full opacity-60 blur-xs" autoplay muted loop>
					<source src="assets/videos/starfield.mp4" type="video/mp4">
					Tu navegador no soporta el video.
				</video>
			</div>
		</div>

		<div class="relative font-retro z-10 mt-10">
			<slot/>
		</div>
	</body>
</html>
