---
import '../styles/global.css'
import Header from "../components/commons/Header.astro";
---
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<title>Starship Chronicles | Embárcate en una Odisea Interestelar</title>

	<!-- Open Graph Meta Tags -->
	<meta property="og:title" content="Starship Chronicles | Embárcate en una Odisea Interestelar" />
	<meta property="og:description" content="Únete a una odisea intergaláctica con Starship Chronicles. Descubre mundos, enfrenta desafíos y explora lo desconocido." />
	<meta property="og:image" content="/assets/img/starshipchronicles.jpg" />
	<meta property="og:url" content="https://tusitio.com" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="es_ES" />

	<!-- Twitter Meta Tags (opcional) -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Starship Chronicles | Embárcate en una Odisea Interestelar" />
	<meta name="twitter:description" content="Únete a una odisea intergaláctica con Starship Chronicles. Descubre mundos, enfrenta desafíos y explora lo desconocido." />
	<meta name="twitter:image" content="/assets/img/starshipchronicles.jpg" /></head>

	<body class="bg-nebula-black text-white dark overflow-x-hidden relative">

	<Header/>
	<slot/>


	<button id="scrollToTopBtn" class="fixed bottom-4 right-4 z-50 w-18 h-18 rounded-full shadow-md  cursor-pointer hover:opacity-80 opacity-0 pointer-events-none transition-opacity duration-300">
		<img src="/assets/img/icons/go-up.webp" alt="Subir" class="w-full h-full object-contain animate-[jiggle_2s_ease-in-out_infinite]" />
	</button>
	</body>
	</html>


<script>
	const scrollToTopBtn = document.getElementById("scrollToTopBtn");

	window.addEventListener("scroll", () => {
		if (window.scrollY > 300) {
			scrollToTopBtn.classList.add("opacity-100");
			scrollToTopBtn.classList.remove("opacity-0", "pointer-events-none");
		} else {
			scrollToTopBtn.classList.remove("opacity-100");
			scrollToTopBtn.classList.add("opacity-0", "pointer-events-none");
		}
	});

	scrollToTopBtn.addEventListener("click", () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth"
		});
	});
</script>

